body 
{ 
  background-color:rgb(29, 29, 29); 
}

h1 
{ 
  text-align:center; 
  margin-top: 3%;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

#container
{ 
  margin: auto;
}

.link 
{ 
  stroke: rgb(0, 217, 255);
}

#bolitas 
{
  position: absolute;
}

.bolita {
	width: 16px;
	height: 16px;
  position: absolute;
	background: url(images/SVG/circle.svg) no-repeat;
}

